<router-outlet></router-outlet>

<!-- <div *ngIf="!currentPathData">
  <h2>Escolha um Caminho para Começar</h2>
  <div>
    <button (click)="startGame('sabedoria')">Caminho da Sabedoria</button>
    <button (click)="startGame('sobrevivencia')">Caminho da Sobrevivência</button>
    <button (click)="startGame('tentacao')">Caminho da Tentação</button>
  </div>
</div>


<div *ngIf="currentPathData">
  <h2>{{ currentPathData.title }}</h2>
  <p>{{ currentPathData.description }}</p>

  <div *ngFor="let choice of currentPathData.choices">
    <button (click)="onChoiceSelected(choice)">{{ choice.text }}</button>
  </div>
</div>


<div *ngIf="!currentPathData?.choices?.length">
  <h2>Fim do Jogo</h2>
  <ul>
    <li *ngFor="let choice of gameService.getHistory()">
      Caminho: {{ choice.text }} - Consequência: {{ choice.consequence }}
    </li>
  </ul>
  <button (click)="startGame('sabedoria')">Reiniciar Jogo</button>
</div> -->
